.icon-2 {
    font-size: 12px;
}

.icon-3 {
    font-size: 12px;
}

.icon-4 {
    font-size: 12px;
}

.icon-5 {
    font-size: 12px;
}

.icon-6 {
    font-size: 12px;
}

.icon-7 {
    font-size: 12px;
}
